<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="testNG_Basics.SampleTest_3"/>
      <class name="testNG_Basics.GoogleTest_4"/>
      <class name="testNG_Basics.AnnotatiosConcept_2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
